Options -MultiViews
RewriteEngine On
RewriteBase /

# Tự động thêm đuôi .html nếu file tồn tại
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^([^/]+)$ $1.html [NC,L]

# Tự động thêm đuôi .php nếu file tồn tại
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^([^/]+)$ $1.php [NC,L]
