RewriteEngine On

# Xóa đuôi .html khi truy cập
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^([^\.]+)$ $1.html [NC,L]

# Xóa đuôi .php khi truy cập
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

# Chống truy cập trực tiếp vào file cấu hình (nếu có)
<FilesMatch "\.(json|log|ini)$">
    Order allow,deny
    Deny from all
</FilesMatch>

